.main {
  background-color: #625fbc; /* theme color */
  color: white;
  padding: 1rem 0;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.buttons button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.buttons button:hover {
  background-color: white;
  color: #625fbc;
}
