.pageLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.outlet {
  flex-grow: 1;
  display: flex;
}

.dashboardLayout {
  display: flex;
  min-height: 100vh;
}

.moduleBar {
  width: 300px;
  background-color: #3b38a0;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  color: white;
  align-items: center;
}

.moduleOptions {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.moduleOptions li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.moduleOptions li:hover {
  color: rgba(37, 155, 234, 0.591);
}

.mainArea {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#link {
  text-decoration: none;
  color: inherit;
}

main,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navLinks {
  display: "flex";
  align-items: "center";
  gap: "0.35rem";
}

/* Add book form CSS */
.addBookContainer {
  background-color: #7f818c54;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 1rem;
}

.addBookForm {
  width: 80%;
  margin: 2rem 0;
}
/* edit button customization on the books page table */
.editButton {
  background-color: #5b57c2;
  min-width: 50px;
  width: calc(max-content + 10px);
  border: none;
  border-radius: 3px;
  color: white;
  margin-right: 10px;
}

#updateButton {
  background-color: rgb(247, 60, 60);
  margin-right: 0;
}

.searchBar {
  width: 30vw;
}

.navLinks {
  display: "flex";
  align-items: "center";
  gap: "0.35rem";
}

.carousel {
  height: 80vh;
}

.carouselImages {
  max-height: 80vh;
  width: 100%;
  object-fit: cover;
}

.featureTitle {
  display: flex;
  align-items: center;
}

.featureTitleHeading {
  font-weight: 500;
  font-family: Helvetica;
  white-space: nowrap;
}

.bookFeature {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  gap: 1.5rem;
}

.line {
  flex-grow: 1;
  background-color: rgb(49, 49, 49);
  height: 1.4px;
  margin-left: 1rem;
}

/* BookComp CSS */

.bookComp {
  width: 400px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  flex-grow: 1;
}

.featureImage {
  width: 100%;
}

.bookTitle {
  font-size: 1.3rem;
  font-weight: 600;
}

.books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}

/* book detail page css */
.bookContainer {
  margin: 2rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.bookDetailCover {
  object-fit: cover;
  height: 450px;
  width: 350px;
}

.bookDetails {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  justify-content: space-around;
}

.bookOption {
  background-color: rgba(164, 162, 162, 0.479);
  padding: 1rem;
  border-radius: 5px;
}

.optionSelected {
  background-color: rgba(164, 162, 162, 0.479) !important;
  border: none !important;
  color: black !important;
}

.optionNotSelected {
  background-color: #625fbc !important;
  border: none !important;
}

.moreDetails {
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 10px;
}

/* review form css */
.reviewFormContainer {
  display: flex;
  margin: 2rem;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.reviewForm Form {
  width: 30vw;
}

/* review component css */
.bookReviewComp {
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

/* 
reviews page CSS */

.formSwitch:checked {
  background-color: #28a745; /* Green */
  border-color: #28a745;
}

.profileIcon {
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

/* Cart page CSS */

.cartCounter {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #7abad3;
  border-radius: 50%;
  font-size: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 770;
}

.backButton {
  width: 150px;
  border: solid rgb(193, 193, 193) 1px;
  padding: 0.3rem;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tableContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.cartContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 1rem 15vw;
}

.cartContainer h2 {
  letter-spacing: 0.05px;
  font-family: "Helvetica";
}

.summaryContainer {
  border: solid #dee2e6 1px;
  border-radius: 5px;
  width: 300px;
  height: 300px;
  max-height: 500px;
}

.line-grey {
  background-color: #dee2e6;
  margin: 0;
  max-height: 1px;
}
